<mat-card>
  <mat-card-title>ET-Chat <span class="third-size">Material Generation <span class="version">V 0.0.1</span></span></mat-card-title>
  <mat-card-content class="layout layout-row flex-100 auto-flex-basis">
    <div class="left layout-column flex-50">
     <div>{{ "sign in via:" | i18n }}</div>
    </div>
    <div class="right layout-column flex-50">
      <div>{{ "or locally by:" | i18n }}</div>
    </div>
  </mat-card-content>
  <mat-card-content class="layout layout-row flex-100 auto-flex-basis no-bottom">
    <div class="left layout-column flex-50">
      <ng-template ngFor let-i="index" let-count="count" let-connector [ngForOf]="connectors">
        <button mat-flat-button color="{{connector}}" >{{connector}}</button>
        <div *ngIf="i < count - 1" class="flex-auto"></div>
      </ng-template>
    </div>
    <div class="right layout-column flex-50">
      <mat-form-field>
        <input matInput placeholder="{{ 'login' | i18n }}*" [(ngModel)]="login.id" (change)="login.validateLogin()">
      </mat-form-field>
      <mat-error *ngIf="login.iderror" class="footnote">{{ "mandatory" | i18n }}</mat-error>
      <mat-form-field>
        <input matInput placeholder="{{ 'password' | i18n }}*" [(ngModel)]="login.password" type="password" (change)="login.validatePassword()">
      </mat-form-field>
      <mat-error *ngIf="login.passworderror" class="footnote">{{ "mandatory" | i18n }}</mat-error>
      <button mat-flat-button color="primary" (click)="login.onLocalLogin()">{{ "login" | i18n }}</button>
    </div>
  </mat-card-content>
  <mat-card-content class="layout layout-row flex-100 auto-flex-basis">
    <div class="left layout-column flex-50">
    </div>
    <div class="right layout-row flex-50">
      <div class="flex-50 footnote"><span>{{ "new?" | i18n }} </span><a href="/register" target="_blank">{{ "register!" | i18n }}</a></div>
      <div class="flex-50 footnote"><a href="/recover" target="_blank">{{ "forgotten password?" | i18n }}</a></div>
    </div>
  </mat-card-content>
  <ng-template [ngIf]="login.displayLastLine()">
    <mat-card-content class="layout layout-row flex-100 auto-flex-basis">
      <div class="left layout-row flex-50">
        <div class="flex-20">
          <ng-template [ngIf]="login.displayImprint()">
            <a href="{{ imprintURL() }}" target="_blank">{{ "imprint" | i18n }}</a>
          </ng-template>
        </div>
        <div class="flex-40">
          <ng-template [ngIf]="login.displayTOS()">
            <a href="{{ tosURL() }}" target="_blank">{{ "terms of service" | i18n }}</a>
          </ng-template>
        </div>
        <div class="flex-30">
          <ng-template [ngIf]="login.displayPrivacyPolicy()">
            <a href="{{ privatepolicyURL() }}" target="_blank">{{ "privacy policy" | i18n }}</a>
          </ng-template>
        </div>
      </div>
      <div class="right layout-row flex-50">
        <div class="flex-40 footnote" style="margin-top: 7px;">
          <ng-template [ngIf]="login.requireAcceptCookies() || login.requireAcceptTOS()">
            {{ "I accept" | i18n }}
          </ng-template>
        </div>
        <div class="flex-30 footnote">
          <ng-template [ngIf]="login.requireAcceptCookies()">
            <mat-checkbox color="primary" [(ngModel)]="login.cookies" (change)="login.validateCookies()">
              <a href="{{ cookieURL() }}" target="_blank">{{ "cookies" | i18n }}*</a>
            </mat-checkbox>
            <mat-error *ngIf="login.cookieserror">{{ login.cookieserror | i18n }}</mat-error>
          </ng-template>
        </div>
        <div class="flex-30 footnote">
          <ng-template [ngIf]="login.requireAcceptTOS()">
            <mat-checkbox color="primary" [(ngModel)]="login.tos" (change)="login.validateTOS()">
              <a href="{{ tosURL() }}" target="_blank">{{ "terms of service" | i18n }}*</a>
            </mat-checkbox>
            <mat-error *ngIf="login.toserror">{{ login.toserror | i18n }}</mat-error>
          </ng-template>
        </div>
      </div>
    </mat-card-content>
  </ng-template>
  <mat-card-footer>&copy; ET-Chat 3.0.7 Server by &lt; SEDesign /&gt;, &copy; ET-Chat Material Generation Client by ch4tp4ck</mat-card-footer>
</mat-card>