/*! et-chat custom-theme.scss - © 2018 ch4tp4ck - license: CC-BY-NC-2.0 */
/* ********************************************************************************************************
 *
 *  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
 *  LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. 
 *  IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *  WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE 
 *  SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 * ***************************************************************************************************** */

.app-component {
    margin:             0;          // no margin
    width:              100%;       // take full viewport-x size
    height:             100%;       // take full viewport-y size
    overflow-y:         hidden;     // we don't want a scrollbar on this element.
    display:            flex;       // use flex layout for content (inner components)
    flex-direction:     column;     // display content from page top to bottom. each component takes full page width
}
.app-component > app-toolbar {
    overflow-y:         hidden;     // we don't want a scrollbar on this element.
    flex-grow:          0 0 auto;   // keep size of toolbar (full page width set by app-component, hight defined by toolbar)
}
.app-component > app-sidebar {
    // width:           100%;       // value for flex-base (later: auto) already defined by app-component: full page width.
    height:             100%;       // value for flex-base (later: auto)
    flex-grow:          1 0 auto;   // take what's left of the page (full page width set by app-component, hight set above to 100%)
}
