/*! et-chat app.sidebar.component.scss - © 2018 ch4tp4ck - license: CC-BY-NC-2.0 */
/* ********************************************************************************************************
 *
 *  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
 *  LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. 
 *  IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *  WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE 
 *  SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 * ***************************************************************************************************** */

// this is the container for sidenav (left) and content (right)
mat-sidenav-container { 
    margin:         0; 
    width:          100%; 
    height:         100%; 
}

// this is the container for page content (right side of sidenav)
mat-sidenav-content { 
    margin:         0;
    height:         100%;
}
