<!DOCTYPE html>
<html>
  <head>
    <base href="<%= htmlWebpackPlugin.options.basehref %>" />
    <title>Cookies</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style> html, body { height: 100%; width: "100%"; margin: 0; padding: 0; }</style>
  </head>
  <body>
    <div style="height: 100%; width: 100%; position: relative;">
      <div style=" text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);"> 
        <h2>This is, where your cookie information should be found.</h2>
        <a href="https://www.howtogeek.com/327268/why-do-some-websites-have-pop-up-warnings-about-cookies/">
          Why Do Some Websites Have Pop-Up Warnings About Cookies?
        </a><br/>
        <a href="https://www.ldi.nrw.de/mainmenu_Datenschutz/submenu_Technik/Inhalt/TechnikundOrganisation/Inhalt/Zur-Anwendbarkeit-des-TMG-fuer-nicht-oeffentliche-Stellen-ab-dem-25_-Mai-2018/Positionsbestimmung-TMG.pdf" target="_blank">Germany: Datenschutzkonferenz zum TMG und Cookies</a>
      </div>
    </div>
  </body>
</html>